<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> 
	 
  <title>Aux</title>
</head>
<body ng-app="app">

<div ng-controller="PedidoController as pedidoCtrl" class = "container">
	<button ng-click="pedidoCtrl.refreshData()">Atualiza envios</button>
	<button ng-click="pedidoCtrl.getData()">Pegar envios</button>
	<div class = "row">
		<table class="table table-striped">
				<thead>
				<tr>
					<th>Nome</th>
					<th>N pedido</th>
					<th>Data envio</th>
					<th>Rastreio</th>
					<th>Situação pgto</th>
					<th><input type="checkbox" ng-model="pedidoCtrl.selectedAll" ng-click="pedidoCtrl.selectAll()" /></th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="pedido in pedidoCtrl.pedidos">
					<td>{{pedido.contato}}</td>
					<td>{{pedido.numeroPedidoLoja}}</td>
					<td>{{pedido.dataEmissao}}</td>
					<td>{{pedido.codigosRastreamento.codigoRastreamento}}</td>
					<td>{{pedido.situacao}}</td>
					<td><input type="checkbox" ng-model="pedido.Selected" /></td>
				</tr>
				</tbody>
		</table>
	</div>
		<button ng-click="pedidoCtrl.sendSelected()">Salvar Envios</button>

</div>	
	
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>