<% layout('layout') -%>

<div ng-app="app" class ="container">
<div ng-controller="PedidoController as pedidoCtrl" class="row" ng-init="pedidoCtrl.refreshData()">
		<div class="row top-buffer">
			<input ng-model="pedidoCtrl.searchInd"> 
			<button class= "btn btn-primary" ng-click="pedidoCtrl.searchData(pedidoCtrl.searchInd)">search</button>
			<button class="pull-right btn btn-primary" ng-click="pedidoCtrl.sendSelected()">Salvar Envios</button>
		</div>
	<div class = "row top-buffer">
		<table class="table table-striped">
				<thead>
				<tr class="table-bordered">
					<th>Nome</th>
					<th>N pedido</th>
					<th>Data envio</th>
					<th>Rastreio</th>
					<th>
							<label>Situacao</label>
					    <select ng-model="pedidoCtrl.filterSelected" ng-options="filter.filter for filter in pedidoCtrl.filters" ng-change="pedidoCtrl.getFilterData(pedidoCtrl.filterSelected)">
					    </select>
					</th>
					<th>
							<label>Status</label>
					    <select ng-model="pedidoCtrl.statusFilterSelected" ng-options="filter.filter for filter in pedidoCtrl.statusFilters" ng-change="pedidoCtrl.getFilterData(pedidoCtrl.statusFilterSelected)">
					    </select>
					</th>
		
					<th ><input type="checkbox" ng-model="pedidoCtrl.selectedAll" ng-click="pedidoCtrl.selectAll()" /></th>
				</tr>
				</thead>
				<tbody class="table-bordered">
				<tr ng-repeat="pedido in pedidoCtrl.pedidosFilter">
					<td>{{pedido.contato}}</td>
					<td>{{pedido.numeroPedidoLoja}}</td>
					<td>{{pedido.dataEmissao}}</td>
					<td>{{pedido.codigosRastreamento.codigoRastreamento}}</td>
					<td>{{pedido.situacao}}</td>
					<td>{{pedido.status}}</td>
					<td ><input type="checkbox" ng-model="pedido.Selected" /></td>
				</tr>
				</tbody>
		</table>
	</div>
</div>
		
		
